#input-box {
  padding: 10px 60px 10px 20px;
  outline: none;
  border: none;
  background: rgb(216, 195, 235);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#divi {
  display: flex;
  align-items: center;
  justify-content: center;
}
#divi button {
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgb(216, 195, 235);
  color: rgb(10, 10, 10);
  border: none;
}
